
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form action="/Pesquisa/Adicionar" method="post" class="container col s12 m4 l4">
        <p>
            <span>1. Você depende do transporte público?</span>
        </p>
        <p name="p.Qtd1">
            <label>
                <input class="with-gap" name="group1" type="radio" value="1" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="group1" type="radio" value="0" checked />
                <span>Não</span>
            </label>
        </p>
        <p>
            <span>2. Você acha a estrutura do transporte adequada e acessível a deficientes?</span>
        </p>
        <p name="p.Qtd2">
            <label>
                <input class="with-gap" name="group2" type="radio" value="0" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="group2" type="radio" value="1" checked />
                <span>Não</span>
            </label>
        </p>
        <p>
            <span>3. Você foi afetado pelo fato de não poder pagar em dinheiro?</span>
        </p>
        <p name="p.Qtd3">
            <label>
                <input class="with-gap" name="group3" type="radio" value="1" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="group3" type="radio" value="0" checked />
                <span>Não</span>
            </label>
        </p>
        <p>
            <span>4. Você está satisfeito com o preço da passagem?</span>
        </p>
        <p name="p.Qtd4">
            <label>
                <input class="with-gap" name="group4" type="radio" value="0" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="group4" type="radio" value="1" checked />
                <span>Não</span>
            </label>
        </p>
        <p>
            <span>5. Existem pontos de ônibus perto de você?</span>
        </p>
        <p name="p.Qtd5">
            <label>
                <input class="with-gap" name="group5" type="radio" value="0" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="group5" type="radio" value="1" checked />
                <span>Não</span>
            </label>
        </p>
        <p>
            <span>6. Você tem dificuldade em encontrar o ônibus certo?</span>
        </p>
        <p name="p.Qtd6 = value">
            <label>
                <input class="with-gap" name="group6" type="radio" value="1" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="group6" type="radio" value="0" checked />
                <span>Não</span>
            </label>
        </p>

        <button class="btn waves-effect waves-light" type="submit">
            Enviar Pesquisa
            <i class="material-icons right">send</i>
        </button>

    </form>

    <div id="chartContainer" class="container col s12 m8 l8" style="height: 600px;"></div>
</div>
<script>
              window.onload = function () {

                  var chart = new CanvasJS.Chart("chartContainer", {
                      title: {
                          text: "Dificuldades Com O Transporte Público"
                      },
                      axisY: {
                          title: "múmero de ocasiões",
                          lineColor: " #ff9800",
                          tickColor: " #ff9800",
                          labelFontColor: " #ff9800"
                      },
                      axisY2: {
                          title: "porcentagem",
                          suffix: "%",
                          lineColor: "#ad1457",
                          tickColor: "#ad1457 ",
                          labelFontColor: "#ad1457"
                      },
                      data: [{
                          type: "column",
                          color: "#ff9800",
                          dataPoints: [
                              { label: "Dependência", y: @ViewBag.Pesquisa.Qtd1 },
                              { label: "Estrutura inadequada", y: @ViewBag.Pesquisa.Qtd2 },
                              { label: "Somente o passe", y: @ViewBag.Pesquisa.Qtd3 },
                              { label: "Preço injusto do passe", y: @ViewBag.Pesquisa.Qtd4 },
                              { label: "Difícil localização de pontos", y: @ViewBag.Pesquisa.Qtd5 },
                              { label: "Falta de informação de ônibus", y: @ViewBag.Pesquisa.Qtd6 },
                          ]
                      }]
                  });
                  chart.render();
                  createPareto();

                  function createPareto() {
                      var dps = [];
                      var yValue, yTotal = 0, yPercent = 0;

                      for (var i = 0; i < chart.data[0].dataPoints.length; i++) {
                          yTotal += chart.data[0].dataPoints[i].y;
                      }

                      for (var i = 0; i < chart.data[0].dataPoints.length; i++) {
                          yValue = chart.data[0].dataPoints[i].y;
                          yPercent += (yValue / yTotal * 100);
                          dps.push({ label: chart.data[0].dataPoints[i].label, color: "#ad1457", y: yPercent });
                      }

                      chart.addTo("data", { type: "line", color: "#ad1457", yValueFormatString: "0.##\"%\"", dataPoints: dps });
                      chart.data[1].set("axisYType", "secondary", false);
                      chart.axisY[0].set("maximum", yTotal);
                      chart.axisY2[0].set("maximum", 100);
                  }

              }
</script>
              </div>

