
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-pareto.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
<link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
<link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b" type="text/css" rel="stylesheet">
<div class="row">
    <form action="/Pesquisa/Adicionar" method="post" class="container col s12 m4 l4">
        <p>
            <span>1. Você depende do transporte público?</span>
        </p>
        <p>
            <label>
                <input class="with-gap" type="radio" value="1" name="p.Qtd1" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="p.Qtd1" type="radio" value="0" checked />
                <span>Não</span>
            </label>
        </p>
        <p>
            <span>2. Você acha a estrutura do transporte adequada e acessível a deficientes?</span>
        </p>
        <p>
            <label>
                <input class="with-gap" name="p.Qtd2" type="radio" value="0" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="p.Qtd2" type="radio" value="1" checked />
                <span>Não</span>
            </label>
        </p>
        <p>
            <span>3. Você foi afetado pelo fato de não poder pagar em dinheiro?</span>
        </p>
        <p>
            <label>
                <input class="with-gap" name="p.Qtd3" type="radio" value="1" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="p.Qtd3" type="radio" value="0" checked />
                <span>Não</span>
            </label>
        </p>
        <p>
            <span>4. Você está satisfeito com o preço da passagem?</span>
        </p>
        <p>
            <label>
                <input class="with-gap" name="p.Qtd4" type="radio" value="0" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="p.Qtd4" type="radio" value="1" checked />
                <span>Não</span>
            </label>
        </p>
        <p>
            <span>5. Existem pontos de ônibus perto de você?</span>
        </p>
        <p>
            <label>
                <input class="with-gap" name="p.Qtd5" type="radio" value="0" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="p.Qtd5" type="radio" value="1" checked />
                <span>Não</span>
            </label>
        </p>
        <p>
            <span>6. Você tem dificuldade em encontrar o ônibus certo?</span>
        </p>
        <p>
            <label>
                <input class="with-gap" name="p.Qtd6" type="radio" value="1" />
                <span>Sim</span>
            </label>
            <label>
                <input class="with-gap" name="p.Qtd6" type="radio" value="0" checked />
                <span>Não</span>
            </label>
        </p>

        <button class="btn waves-effect waves-light" type="submit">
            Enviar Pesquisa
            <i class="material-icons right">send</i>
        </button>

    </form>

    <div id="container" class="container col s12 m8 l8" style="height: 600px;"></div>

</div>

@if (ViewBag.Pesquisa != null)
{
    <script>
        anychart.onDocumentReady(function () {
            var data = [
                { x: 'Dependência', value: @ViewBag.Pesquisa.Qtd1 },
                { x: 'Estrutura inadequada', value: @ViewBag.Pesquisa.Qtd2 },
                { x: 'Só é permitido o passe', value: @ViewBag.Pesquisa.Qtd3 },
                { x: 'Preço do passe', value: @ViewBag.Pesquisa.Qtd4 },
                { x: 'Falta de pontos próximos', value: @ViewBag.Pesquisa.Qtd5 },
                { x: 'Falta de informação de ônibus', value: @ViewBag.Pesquisa.Qtd6 },
            ];

            var chart = anychart.pareto(data);

            chart.title('Dificuldades Com O Transporte Público');

            chart.yAxis(0).title('Número de Reclamações');

            chart.yAxis(1).title('Porcentagem Acumulada');

            chart.animation(true);

            chart.lineMarker()
                .value(80)
                .axis(chart.yAxis(1))
                .stroke('#A5B3B3', 1, '5 2', 'round');

            var column = chart.getSeriesAt(0);
            column.tooltip().format('Número de reclamações: {%Value}');

            var line = chart.getSeriesAt(1);
            line.seriesType('spline')
                .markers(true);
            line.yScale().ticks().interval(10);
            line.labels()
                .enabled(true)
                .anchor('right-bottom')
                .format('{%CF}%');
            line.tooltip().format('Frequência acumulada: {%CF}% \n Frequência relativa: {%RF}%');

            chart.crosshair()
                .enabled(true)
                .xLabel(false);

            chart.container('container');

            chart.draw();
        });
    </script>
}
